<footer class="footer">
    <div class="footer__container">
        <div class="footer__content">
            <div class="footer__section">
                <h3 class="footer__title">Сайт преподавателя</h3>
                <p class="footer__text">Тут будет дополнительная информация</p>
            </div>
            <div class="footer__section">
                <h3 class="footer__title">Навигация</h3>
                <ul class="footer__nav-list">
                    <li><a routerLink="/home" class="footer__link">Главная</a></li>
                    <li><a routerLink="/about" class="footer__link">Об учителе</a></li>
                    <li><a routerLink="/gallery" class="footer__link">Галерея</a></li>
                    <li><a routerLink="/blog" class="footer__link">Блог</a></li>
                    <li><a routerLink="/contacts" class="footer__link">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__section">
                <h3 class="footer__title">Контакты</h3>
                <p class="footer__text">Email: teacher@example.com</p>
                <p class="footer__text">Телефон: +7 (000) 000-00-00</p>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">&copy; {{ currentYear }} Тут будет имя преподавателя. Все права защищены.</p>
        </div>
    </div>
</footer>