<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a routerLink="/home" class="header__logo-link">
                <span class="header__logo-text">Преподаватель</span>
            </a>
        </div>
        
        <button class="header__burger" [class.active]="isMenuOpen" (click)="toggleMenu()" aria-label="Меню">
            <span class="header__burger-line"></span>
            <span class="header__burger-line"></span>
            <span class="header__burger-line"></span>
        </button>
        
        <nav class="header__nav" [class.active]="isMenuOpen">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a routerLink="/home" class="header__nav-link" routerLinkActive="active" (click)="closeMenu()">Главная</a>
                </li>
                <li class="header__nav-item">
                    <a routerLink="/about" class="header__nav-link" routerLinkActive="active" (click)="closeMenu()">Об учителе</a>
                </li>
                <li class="header__nav-item">
                    <a routerLink="/blog" class="header__nav-link" routerLinkActive="active" (click)="closeMenu()">Блог</a>
                </li>
                <li class="header__nav-item">
                    <a routerLink="/colleagues" class="header__nav-link" routerLinkActive="active" (click)="closeMenu()">Коллегам</a>
                </li>
                <li class="header__nav-item">
                    <a routerLink="/parents" class="header__nav-link" routerLinkActive="active" (click)="closeMenu()">Родителям</a>
                </li>
                <li class="header__nav-item">
                    <a routerLink="/students" class="header__nav-link" routerLinkActive="active" (click)="closeMenu()">Ученикам</a>
                </li>
                <li class="header__nav-item">
                    <a routerLink="/gallery" class="header__nav-link" routerLinkActive="active" (click)="closeMenu()">Галерея</a>
                </li>
                <li class="header__nav-item">
                    <a routerLink="/contacts" class="header__nav-link" routerLinkActive="active" (click)="closeMenu()">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>